<?xml version="1.0" encoding="Utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabtis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.BoardRepository">
    <select resultType="BoardDto" id="findById">
        SELECT * FROM board WHERE board_id = #{boardid}
    </select>
    <select resultType="BoardDto" id="findByName">
        SELECT * FROM board WHERE board_name = #{boardname}
    </select>
</mapper>