<?xml version="1.0" encoding="Utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabtis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.UserRepository">
    <select resultType="UserDto" id="findById">
        SELECT * FROM test1 WHERE ID = #{id}
    </select>
</mapper>